@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

/* Fix leaflet controls layering with modals/tooltips */
.leaflet-top,
.leaflet-bottom {
  z-index: 400 !important;
}

.leaflet-pane {
  z-index: 300 !important;
}
